<div class="w-100 mx-5">
  <div class="py-5">
    <h1>New Doctor</h1>
  </div>

  <%= form_for @doctor do |doc| %>
    <%= doc.label :doctor_name %>
    <%= doc.text_field :name %><br>

    <%= doc.fields_for :patients do |patient| %>
      <%= patient.label :patient_name %>
      <%= patient.text_field :name %><br>

      <%= patient.label :patient_age %>
      <%= patient.number_field :age %><br>
    <% end %>

  <%= doc.submit %>
  <% end %>
</div>